/* CSS for StaffGradedAssignmentXBlock */

.sga-block .staff-modal {
    position: fixed;
    z-index: 100;
    display: none;
    width: 80%;
    overflow: hidden;
    left: 10% !important;
    margin-left: 0 !important;
}

.sga-block .staff-modal .inner-wrapper {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.sga-block #grade-info {
    margin: 0 40px 20px 40px;
}

.sga-block table.gridtable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

.sga-block table.gridtable th {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

.sga-block table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.sga-block .upload {
    position: relative;
}

.sga-block table .upload {
    width: 105px;
}

.sga-block .upload button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.sga-block .upload .fileupload {
    position: relative;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 2;
}

.sga-block td .upload button {
    padding: 7px;
    width: 100%;
}

.sga-block .error,
#staff-graded-assignment-edit .error {
    color: red;
}

.sga-block .grades-published,
.sga-block .download-buttons {
    margin: 0 40px 10px;
}

.sga-block .download-buttons button {
    margin-right: 20px;
}

.sga-block button:active {
    border: 1px solid #d2c9c9 !important;
    border-radius: 3px !important;
    box-shadow: inset 0 1px 0 0 #fff !important;
}

.sga-block .enter-grade-button {
    width: 90px;
}
