{% load i18n %}

<div class="sg-block" data-state="{{ student_state }}" data-staff="{{ is_course_staff }}">
  <script type="text/template" id="sg-tmpl">
    <% if (display_name) { %>
       <b><%= display_name %></b>
    <% } %>
    <% if (graded) { %>
      <p>Your score is <%= graded.score %> / <%= max_score %><br/>
        <% if (graded.comment) { %>
          <b>Instructor comment</b> <%= graded.comment %>
        <% } %>
      </p>
    <% } %>
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
  </script>

  <div id="sg-content">
  </div>

  {% if is_course_staff %}
  <script type="text/template" id="sg-grading-tmpl">
    <form id="sg-enter-grade-form">
      <span class="error"></span>
      <input id="module_id-input" type="hidden" name="module_id"/>
      <input id="submission_id-input" type="hidden" name="submission_id"/>
      <input id="grade-input" type="hidden" name="grade"/>
      <input id="comment-input" type="hidden" name="comment"/>
      <table class="gridtable tablesorter" id="sg-submissions">
        <thead>
        <tr>
          <th class="header">Username <i class="icon fa fa-sort"/></th>
          <th class="header">Name <i class="icon fa fa-sort"/></th>
          <th class="header">Grade <i class="icon fa fa-sort"/></th>
          <th class="header">Instructor's comments <i class="icon fa fa-sort"/></th>
          <th class="header" colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < assignments.length; i++) { %>
        <%     var assignment = assignments[i]; %>
          <tr id="row-<%= assignment.module_id %>">
            <td><%= assignment.username %></td>
            <td><%= assignment.fullname %></td>
            <td class="grade">
              <span class="value" data-value="<%= assignment.score %>">
                <% if (assignment.score !== null) { %>
                  <%= assignment.score %> /
                  <%= max_score %>
                <% } %>
              </span>
              <span class="value-input hidden">
                <input type="number" class="input-grade" placeholder="0-<%= max_score %>" value="<%= assignment.score %>">
              </span>
            </td>
            <td class="comment">
              <span class="value">
                <%= assignment.comment %>
              </span>
              <span class="value-input hidden">
                <textarea type="text" rows="1" class="input-comment" placeholder="Enter comment"><%= assignment.comment %></textarea>
              </span>
            </td>
            <td>
              <span class="option-btns">
                <a class="sg-enter-grade-button button" href="#enter-grade-{{ id }}">
                  {% trans "Enter grade" %}
                </a>
                <button type="button" class="sg-remove-grade" name="sg-remove-grade">Remove grade</button>
              </span>
              <span class="editing-btns hidden">
                <button type="submit" class="sg-save-edit" name="sg-save-edit">Save</button>
                <button type="button" class="sg-cancel-edit" name="sg-cancel-edit">Cancel</button>
              </span>
            </td>
          </tr>
        <% } %>
        </tbody>
      </table>
  </script>

  <div aria-hidden="true" class="wrap-instructor-info">
    <a class="instructor-info-action" id="grade-submissions-button"
       href="#grade-{{ id }}">{% trans "Grade Submissions" %}</a>
    <a class="instructor-info-action" id="staff-debug-info-button"
       href="#debug-{{ id }}">{% trans "Staff Debug Info" %}</a>
  </div>

  <section aria-hidden="true" class="modal staff-modal" id="grade-{{ id }}" style="height: 75%" tabindex="-1">
    <div class="inner-wrapper" style="color: black; overflow: auto;">
      <header><h2><span class="display_name">{{ display_name }}</span> - {% trans "Staff Graded Points" %}</h2></header>
      <br/>
      <div id="sg-grade-info" style="display: block;">
        Loading...
      </div>
    </div>
  </section>

  <section aria-hidden="true" class="modal staff-modal"
           style="height: 80%" id="debug-{{ id }}" tabindex="-1">
    <div class="inner-wrapper" style="color: black">
      <header><h2>{% trans "Staff Debug" %}</h2></header>
      <br/>
      <div class="staff_info" style="display: block; white-space: normal">
        is_released = {{ is_released }}<br/>
        location = {{ location }}<br/>
        <br/>
        <table summary="${_('Module Fields')}">
          <tr><th>{% trans "Module Fields" %}</th></tr>
          {% for name, field in fields %}
          <tr>
            <td>{{name}}</td>
            <td>
              <pre style="display:inline-block; margin: 0;">{{field}}</pre>
            </td>
          </tr>
          {% endfor %}
        </table><br/>
        category = {{category}}
      </div>
    </div>
  </section>
  {% endif %}
</div>
